@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model VehicleConfiguratorViewModel
@{ int i = 0;}
<ul id="Transmission">
    @foreach (var item in Model.TransmissionList)
    {
        string rdbchecked = "", activeclass = ""; 
        @if (Model.selected_transmission_id == 0 && i == 0)
        {
            rdbchecked = "checked";
            activeclass = "active";
        }
        else if (Model.selected_transmission_id == item.TransmissionId)
        {
            rdbchecked = "checked";
            activeclass = "active";
        }
        else
        {
            rdbchecked = "";
        }
        <li class="@activeclass">
            <label class="checkbx-lab">
                <input type="radio" id="rdbtransmission_@item.TransmissionId" value="@item.TransmissionId" name="rdbtransmissiontypelist" @rdbchecked><span class="radi"></span>
                <div class="option_select">
                    <h3>@item.TransmissionTypeName</h3>
                    @*<b>Lorem ipsum dolor sit amet.</b>*@
                </div>
            </label>
        </li>
        i++;
    }
</ul>
@*<div class="custom-control custom-radio" id="Transmission">
    <h4>Select Transmission Type</h4>
    @{ int i = 0;}

    @foreach (var item in Model.TransmissionList)
    {
        @if (Model.selected_transmission_id == 0 && i == 0)
        {
            <input type="radio" class="custom-control-input" id="rdbcolor_@item.TransmissionId" value="@item.TransmissionId" name="rdbtransmissiontypelist" checked>
            <label class="custom-control-label" for="defaultChecked">@item.TransmissionTypeName</label>
        }
        else if (Model.selected_transmission_id == item.TransmissionId)
        {
            <input type="radio" class="custom-control-input" id="rdbcolor_@item.TransmissionId" value="@item.TransmissionId" name="rdbtransmissiontypelist" checked>
            <label class="custom-control-label" for="defaultChecked">@item.TransmissionTypeName</label>
        }
        else
        {
            <input type="radio" class="custom-control-input" id="rdbcolor_@item.TransmissionId" value="@item.TransmissionId" name="rdbtransmissiontypelist">
            <label class="custom-control-label" for="defaultChecked">@item.TransmissionTypeName</label>
        }
        i++;
    }
</div>*@
<input asp-for="@Model.selected_transmission_id" type="hidden" />
